@use 'variables' as *;

.location {
    padding: 138px 12px 0;

    &__title {
        font-family: 'Baron Neue', 'Arial', sans-serif;
        font-size: 36px;
        line-height: 44px;
        font-weight: 400;
        margin: 0 0 30px 0;
        padding: 0;
    }

    &__marker {
        width: 36px;
        height: 36px;
        background-color: $purple;
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(122, 27, 27, 0.2);
        background-position: center;
        background-size: 16px 16px;
        background-repeat: no-repeat;

        &--shop {
            background-image: url('../images/shop.svg');
        }

        &--cafe {
            background-image: url('../images/cafe.svg');
        }

        &--cinema {
            background-image: url('../images/cinema.svg');
        }

        &--main {
            background-image: url('../images/main-pin.svg');
        }

        &--child {
            background-image: url('../images/child.svg');
        }

        &--health {
            background-image: url('../images/health.svg');
        }

        &--beauty {
            background-image: url('../images/beauty.svg');
        }

        &--education {
            background-image: url('../images/education.svg');
        }

        &--hidden {
            display: none;
        }
    }

    &__filters {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 14px;
        margin-bottom: 35px;
    }

    &__filter {
        font-family: 'Lato', 'Arial', sans-serif;
        font-size: 11px;
        line-height: 26px;
        text-transform: uppercase;
        color: $gray-dark;
        padding: 0 22px;
        border: 1px solid $purple;
        border-radius: 20px;

        &--inactive {
        opacity: 0.5;
        }
    }

    &__map {
        width: calc(100% + 24px);
        aspect-ratio: 375 / 446;
        max-height: 450px;
    }

    @media (min-width: $tablet) {
        padding: 148px 40px 0;

        &__title {
            margin-bottom: 26px;
        }

        &__filters {
            row-gap: 12px;
        }

        &__map {
            width: 100%;
        }
    }

    @media (min-width: $desktop) {
        padding: 190px 120px 0;
        display: grid;
        grid-template-columns: max-content 930px;
        grid-template-rows: 44px auto;
        gap: 36px 90px;

        &__title {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: 0;
        }

        &__filters {
            grid-column: 1 / 2;
            grid-row: 2 / -1;
            flex-direction: column;
            row-gap: 18px;
            margin-bottom: 0;
        }

        &__filter {
            width: max-content;
            text-align: left;
        }

        &__map {
            grid-column: -1 / -2;
            grid-row: 1 / -1;
            padding-top: 10px;
        }
    }
}