//resolutions

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

//colors

$white: #ffffff;
$light: #F4F5F5;
$gray-light: #777777;
$gray-medium: #31353A;
$gray: #333333;
$gray-dark: #303030;
$dark: #484848;
$black: #08131F;
$bardo: #7A1B1B;
$purple: #C79791;

//transition

$transition: 0.5s;

//opacity

$opacity: 0.8;